*/*.ipynb_checkpoints*
devel/*
.DS_Store
.ipynb_checkpoints/Untitled-checkpoint.ipynb
examples/.ipynb_checkpoints/sase1d_run-checkpoint.ipynb
*.pyc
General_test/.ipynb_checkpoints/sase1d-checkpoint.py
General_test/.ipynb_checkpoints/sase1d_run-checkpoint.ipynb
General_test/.ipynb_checkpoints/SASE_test-checkpoint.py
General_test/.ipynb_checkpoints/sase1d_run-checkpoint.ipynb
General_test/test/.ipynb_checkpoints/z_and_power_z-checkpoint.correct
General_test/test/.ipynb_checkpoints/z_and_power_z-checkpoint.now
General_test/.ipynb_checkpoints/sase1d_run-checkpoint.ipynb
General_test/test/z_and_power_z.now
regression_test/.ipynb_checkpoints/Annotation of the 1D FEL-checkpoint.ipynb
